section.home{
    min-height: 800px;
    .home_container{
        display: flex;
    }
    .container{
        .head_menu{
            width: 100%;
            .list{
                justify-content: center;
                display: flex;
                li{
                    &.item{
                        padding: 40px 25px;
                        font-family: $open_sans;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 700;
                        text-transform: uppercase;
                        border-top: 5px solid transparent;
                        cursor: pointer;
                        &:hover{
                            border-top: 5px solid $primary-color;
                            a{
                                color: $primary-color;;
                            }
                        }

                }
                    &.logo{
                        padding: 16px 70px 0;
                    }
                }
            }
        }

        .info-block{
            margin-top: 170px;
            justify-content: space-between;
            align-items: center;
            display: flex;
            .work-time{
                .date{
                    width: 62px;
                    writing-mode: vertical-lr;
                    transform: rotate(180deg);
                    h6{
                        color: $secondary-color;
                        font-family: $open_sans;
                        font-size: 12px;
                        font-weight: 700;
                        margin-left: 50px;
                    }
                }
                }

            }
            .main_block{
                text-emphasis: center;
                h5{
                    font-size: 18px;
                    color: $secondary-color;
                    text-transform: uppercase;
                    text-align: center;
                }

                h1{
                    margin-top: 8px;
                    font-size: 72px;
                    font-weight: 400;
                }

                .btns{
                    margin-top: 57px;
                    justify-content: space-between;
                    display: flex;
                    a{
                        width: 200px;
                        text-align: center;
                        border-radius: 5px;
                        border: 1px solid rgba(255, 255, 255, 0.50);
                        padding: 25px;
                        font-size: 12px;
                        font-weight: 700;
                        text-transform: uppercase;
                        &:hover{
                            background-color: $primary-color;
                        }
                    }
                }
                .down_btn{
                    text-align: center;
                    position: relative;
                    top: 84px;
                }

            }

            .social{
                flex-direction: column;
                display: flex;
                svg{
                    margin-bottom: 20px;
                    border-radius: 50%;
                    &:hover{
                        background-color: $primary-color;
                    }
                      
                }
            }
        }

    }

